@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-neutral caret-primary selection:bg-primary selection:text-primary-content;
  }
}

@layer components {
  .byline {
    @apply font-mono text-sm text-primary md:text-base;
  }

  .btn {
    @apply relative inline-block select-none border-4 border-neutral bg-base-100 px-8 py-3 text-base font-bold leading-none text-neutral no-underline transition-all after:absolute after:-bottom-2 after:-right-2 after:-z-10 after:block after:h-[calc(100%+4px)] after:w-[calc(100%+4px)] after:bg-primary after:transition-all hover:cursor-pointer hover:border-primary hover:bg-primary hover:text-primary-content hover:after:bottom-0 hover:after:right-0 disabled:after:opacity-0 disabled:cursor-not-allowed disabled:hover:bg-transparent disabled:hover:text-neutral disabled:hover:border-neutral;
  }

  .section {
    @apply relative flex h-full w-full items-center justify-center bg-base-100 p-6 text-4xl md:fixed md:left-0 md:top-0 md:mx-48 md:w-[calc(100%-24rem)] md:overflow-hidden md:p-0;
  }

  .input {
    @apply w-full border-b py-2 focus:border-primary focus:outline-none active:outline-none rounded-none;
  }

  input,
  textarea {
    -webkit-appearance: none;
    border-radius: 0;
  }

  .textarea {
    @apply w-full border-b;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
    color: inherit;
  }
}
